<header>
  <div class="h-top-header-mobile">
    <div class="h-menu" action="#" method="GET">
      <!-- <div class="h-burger-menu">
        <i class="fa fa-bars burger"></i>
      </div>
      <p>INICIO</p> -->
      <div class="h-container-1">

       
        <form action="/Productos/buscar" method="GET">
            <input type="search" name= "search"  id="search" placeholder="Buscar">
            <button class="boton-buscar" type="submit"> <div class="h-icon"><i class="fa fa-search"></i></div></button>
              
        </form>
   <!--         
      <span class="h-icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Buscar" /> -->
    </div>
    </div>
    <div class="h-logo-space">
      <img src="/img/logos-pagina/DAS_logo.png" alt="Logo DAS" />
    </div>
    <div class="h-box">
      
      <!-- Aca hay que agregarle el dinamismo para que muestre el usuario sie sta logeado-->
      <% if (locals.isLogged) { %>

      <div class="h-dropdown">
        <a class="h-dropbtn">
          <img
            src="/img/users-img/<%= locals.userLogged.avatar %>"
            width="40"
            height="40"
            style="border-radius: 100%"
          />
          <p>Hola <%= locals.userLogged.user_name %></p></a
        >
        <div class="h-dropdown-content">
          <a href="/Usuarios/profile">Mi perfil</a>
          <hr />
          <a href="/Usuarios/logout">Cerrar Sesión</a>
        </div>
      </div>

      <% } else { %>
      <!-- y aca el else en caso que no este, para que pueda logearse-->
      <div class="h-account">
        <a href="/Usuarios/register" class="h-register">
          <i class="fa-solid fa-file-pen"></i>
          <p>CREAR CUENTA</p></a
        >
        <a href="/Usuarios/login" class="h-login">
          <i class="fa-solid fa-user"></i>
          <p>INICIAR SESIÓN</p></a
        >
      </div>
      <% } %>
    </div>
  </div>
  <div class="h-nav-menu">
    <nav class="h-lista-menu">
      <a href="/home">INICIO</a>
      <a href="/Productos">PRODUCTOS</a>
      <a href="/Productos/carrito-de-compras">CARRITO</a>
    </nav>
  </div>
</header>
