    <header>
    <div class="h-top-header-mobile">
        <div class="h-menu" action="#" method="GET">
            <div class="h-burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <p>INICIO</p>
        </div>
        <div class="h-logo-space"> 
            <img src="img/DAS_logo.png" alt="Logo DAS">
        </div>
        <div class="h-box">
            <div class="h-container-1">
                <span class="h-icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Buscar">
            </div>
            <div class="h-account">
                <a href="/registro" class="h-register"> <i class="fa-solid fa-file-pen"></i><p>CREAR CUENTA</p></a>
                <a href="login" class="h-login"> <i class="fa-solid fa-user"></i><p>INICIAR SESIÓN</p></a>
            </div>
        </div>
    </div>   
    <div class="h-nav-menu">
        <nav class="h-lista-menu">
        <a href="/home">INICIO</a>
        <a href="/Productos">PRODUCTOS</a>
        <a href="/carrito-de-compras">CARRITO</a>
        </nav>
    </div>
    </header>
