*​{ 
    margin: ​0​px​; 
    padding: ​0​px​; 
    h-box-sizing: ​border-h-box​; 
}

body{
    font-family: 'Roboto', sans-serif;
    color: rgb(58, 57, 57);
    background-color: white;
}

.main-body {
    height: 150px;
    width: auto;
    background-color: white;
}

.container-img {
    margin: 0;
    height: auto;
}

ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 100%;
}

ul.slider li {
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    width: inherit;
    transition: opacity .5s;
}
ul.slider li img {
    width: inherit;
    object-fit: cover; 
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.h-menu-dots {
    position: relative;
    top: 130px;
    text-align: center;
    margin: 8px;
}

.h-menu-dots li {
    display: inline-block;
    text-align: center;
}

.h-menu-dots li a {
    display: block;
    text-decoration: none;
    width: 8px;
    height: 8px;
    padding: 5px;
    color: rgba(167, 164, 164, 0.87);
}

h4 {
    text-align: center;
    margin: 12px;
    color:rgb(58, 57, 57);
}

h5 {
    text-align: center;
    margin: auto;
    color:rgb(58, 57, 57);
}

section {
    display: block;
}

main {
    h-box-sizing: ​border-h-box​; 
    margin: auto;
    display: block;
}

section {
    display: block;
}

.cont-img-card {
    width: 95%;
    height: 100%;
    margin: auto;
}
main section div.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

main section div.productos article {
    width: 50%;
    height: 50%;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
    h-box-sizing: border-h-box;
}

main section article i {
    display: block;
    color:rgb(101, 190, 199);
    font-size: 16px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -8px;
    top: 5px;
    text-align: center;
}
main section article img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

article div.pie-articulo {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid rgb(101, 190, 199);
    position: relative;
    padding: 5px;
    margin: auto;
}

.descripcion {
    margin: auto;
    text-align: center;
}

.precio {
    text-align: center;
    margin: auto;
    color:rgb(58, 57, 57);
}

h5 {
    color: #fff;
    text-align: center;
}
.agregar-carrito {
    background-color: rgb(101, 190, 199);
    margin: auto;
    padding: 10px;
    width: 90%;
    height: 100%;
}

.mas-productos {
    background-color: rgb(101, 190, 199);
    margin: auto;
    padding: 10px;
    width: 50%;
    height: 100%;
}

.container-icons {
    margin: auto;
    width: auto;
    height: 150px;
    background-color: rgb(101, 190, 199);
    align-content: center;
}

div.container-icons {
    margin: 0px 20px 0px 20px;
}

ul.icons {
    position: relative;
    width: 100%;
    top: 25px;
}

ul.icons li {
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    width: inherit;
    background-color: rgb(101, 190, 199);
    transition: opacity .5s;
       
}

ul.icons li i{
    font-size: 30px;
}

ul.icons li:first-child {
    opacity: 1;
}

ul.icons li:target {
    opacity: 1;
}
.main-banner {
    height: 150px;
    width: auto;
    background-color: rgb(101, 190, 199);
    color:#fff;
    text-align: center;
}

.banner-dots {
    position: relative;
    top: 150px;
    text-align: center;
    margin: 8px;
}

.banner-dots li {
    display: inline-block;
    text-align: center;
}

.banner-dots li a {
    display: block;
    text-decoration: none;
    width: 8px;
    height: 8px;
    padding: 5px;
    color: rgba(167, 164, 164, 0.87);
}





