*​{ 
    margin: ​0​px​; 
    padding: ​0​px​; 
    box-sizing: ​border-box​; 
}

body{
    font-family: Roboto, sans-serif;
    color: rgb(58, 57, 57);
    background-color: #f2f2f2;
    font-size: 14px;
}

/* main */

.form_wrapper {
    background-color: white;
    max-width: 100%;
    padding: 25px;
    margin: 8% auto 0;
    position: relative;
    z-index: 1;
    border-top: 5px solid rgb(101, 190, 199);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
} 

h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
}

.title_conteiner{
    text-align: center;
    padding-bottom: 15px;
}

.form_wrapper{
    font-size: 12px;
}

.form_wrapper .row{
    margin: 10px -15px;
}

.form_wrapper .row > div{
    padding: 0 15px;
    box-sizing: border-box;
}

.input_field{
    position: relative;
    margin-bottom: 20px;
}

.input_field >span{
    position: absolute;
    left: 0%;
    top: 0%;
    color: #333;
    height: 100%;
    border-right: 1px solid #ccc;
    text-align: center;
    width: 30px;
}

.input_field > span > i{
    padding-top: 10px;
}
.form_wrapper input[type="text"], .form_wrapper input[type="email"], .form_wrapper input[type="password"]{
    width: 88%;
    padding: 8px 10px 9px 35px;
    border: 1px solid #ccc;
    outline: none;
}

.form_wrapper input[type="text"]:hover, .form_wrapper input[type="email"]:hover, .form_wrapper input[type="password"]:hover{
    background: #fafafa;
}

.form_wrapper input[type="text"]:focus, .form_wrapper input[type="email"]:focus, .form_wrapper input[type="password"]:focus {
    box-shadow: 0 0 2px 1px rgba(101, 190, 199, 0.5);
    border: 1px solid rgb(101, 190, 199);
    background: #fafafa;
}

.form_wrapper input[type="submit"]{
    background: rgb(101, 190, 199);
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.l-c-box{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

form{
    width: 100%;
}

.form_wrapper input[type="submit"]:hover{
    background: rgb(11, 119, 131);
}

.text-danger {
    color: red;
    font-size: 16px;
    text-align: center;
}

@media (min-width: 400px) {
    .form_wrapper{
        width: 400px;
        float: none;
    }
}