<!DOCTYPE html>
<html lang="en">
    
    <%- include ('./partials/head', {titulo}) %> 
    <link rel="stylesheet" href="/styles/createProd.css">

<body>
    <%- include ('./partials/header') %> 
    <main>
        <div class="form_wrapper">
            <div class="form_container">
                <div class="title_container">
                    <h2>Creaci칩n de Producto</h2>
                </div>
                <div class="row clearfix">
                    <div class="form-prod">
                        <form action="/Productos/crear-producto" method="Post" enctype="multipart/form-data">
                            <div class="input_field"> 
                                <input type='texto' name="product_name" placeholder="Nombre del Producto" required>
                            </div>
                            <div class="input_field"> 
                                <textarea name="product_descripcion" id= "descripcion"placeholder="Descripci칩n detallada del producto"></textarea>
                            </div>
                            <div class="input_field"> 
                                <input type="file"  id="foto producto" name="image" accept="image/png, image/jpeg">
                            </div>
                            <div class="row clearfix">
                                <div>
                                    <div class="input_field"> 

                                       <label>Seleccione categoria:</label>
                                            <select name="category">
                                             <option value="1">Tortas</option>
                                             <option value="2">Tartas</option>
                                             <option value="3">Muffins</option>
                                             <option value="4">Cookies y Masas</option>
                                            </select>
                                    </div>
                                    
                                    <!-- <div class="input_field"> 
ver tama침os no estan en la base, es algo que lo indica el cliente cuando lo compra agragar opciones de precio
                                        <label>Tama침o/Unidades:</label>
                                             <select name="porcion">
                                              <option value="chica">Chica</option>
                                              <option value="grande">Grande</option>
                                              <option value="docena">Docena</option>
                                              <option value="mediadocena">Media Docena</option>
                                             </select>
                                     </div> -->
                                     <div class="input_field"> 
                                        <input type='text' name="small_price" placeholder="Precio del Producto Unidad Menor" required>
                                        <input type='text' name="big_price" placeholder="Precio del Producto Unidad Mayor" required>
                                    </div>

                                </div>
                            </div>
                                <div>
                                    <input class="button" type="submit" value="Crear">
                                    <input class="button" type="reset" value="Cancelar">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <%- include ('./partials/footer') %> 
</body>
</html>