<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fd6da145d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="styles/index.css">
    <title>DAS Pasteleria</title>
</head>
<body>
    <!-- arranca el header  -->
    <header>
    <div class="top-header-mobile">
        <div class="form" action="#" method="GET">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
        <div class="logo-space"> 
            <img src="img/DAS_logo.png" alt="Logo DAS">
        </div>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
    </div>   
    <div class="nav-menu">
        <nav class="lista-menu">
        <a href="#">INICIO</a>
        <a href="#">PRODUCTOS</a>
        <a href="#">CARRITO</a>
        </nav>
    </div>
    </header>
    <div class="main-body">
        <div class="container-img">
            <ul class="slider">
                <li id="slide1"> 
                 <img src="img/lemon_pie_arandanos1.jpg" class="slide-img">
                </li>
                <li id="slide2"> 
                 <img src="img/cheesecake_1.jpg" class="slide-img">
                </li>
                <li id="slide3"> 
                 <img src="img/apple_crumble1.jpg" class="slide-img">
                </li>
           </ul>
           <ul class="menu-dots">
               <li>
                   <a href="#slide1"> <i class="fa-solid fa-circle"></i></a>
               </li>
               <li>
                <a href="#slide2"> <i class="fa-solid fa-circle"></i></a>
               </li>
               <li>
                <a href="#slide3"> <i class="fa-solid fa-circle"></i></a>
               </li>
            </ul>
        </div>
    </div>
    <main>
        <section class="prod-destacados">
         <h4>PRODUCTOS DESTACADOS</h4>
        <div class="productos">
          <article>
              <div class="cont-img-card">
                <img src="img/cheesecake_1.jpg" alt="Cheesecake" class="prod-img">
              </div>
              <div class="pie-articulo"> 
                <i class="fa-regular fa-heart"></i>
                <h4 class="descripcion">Cheesecake</h4>
                <p class="precio">$000</p>
                <div class="agregar-carrito">
                    <h5>Agregar al Carrito</h5>
                </div>
              </div>
          </article>
          <article>
              <div class="cont-img-card">
                <img src="img/chocotorta1.jpg" alt="Chcocotorta" class="prod-img">
              </div>
              <div class="pie-articulo"> 
                <i class="fa-regular fa-heart"></i>
                <h4 class="descripcion">Chocotorta</h4>
                <p class="precio">$000</p>
                <div class="agregar-carrito">
                    <h5>Agregar al Carrito</h5>
                </div>
              </div>
          </article>
          <article>
              <div class="cont-img-card">
               <img src="img/lemon_pie_arandanos1.jpg" alt="Lemon Pie Arandanos" class="prod-img">
              </div>
               <div class="pie-articulo"> 
                <i class="fa-regular fa-heart"></i>
                <h4 class="descripcion">Lemon Pie</h4>
                <p class="precio">$000</p>
                <div class="agregar-carrito">
                    <h5>Agregar al Carrito</h5>
                </div>
              </div>
          </article>
          <article>
              <div class="cont-img-card">
                <img src="img/apple_crumble1.jpg" alt="Apple Crumble" class="prod-img">
              </div>
              <div class="pie-articulo"> 
                <i class="fa-regular fa-heart"></i>
                <h4 class="descripcion">Apple Crumble</h4>
                <p class="precio">$000</p>
                <div class="agregar-carrito">
                    <h5>Agregar al Carrito</h5>
                </div>
              </div>
          </article>
        </div>
        </section>
        <div class="mas-productos">
            <h5>Ver más Productos</h5>
        </div>
        <div class="main-banner">
            <div class="container-icons">
                <ul class="icons">
                    <li id="icon1"> 
                      <i class="fa-solid fa-mobile-screen-button"></i>
                      <p>Consultas y Pedidos <br>1122334455</p>
                    </li>
                    <li id="icon2"> 
                      <i class="fa-solid fa-motorcycle"></i>
                      <p>Envíos<br>CABA y GBA</p>
                    </li>
                    <li id="icon3"> 
                      <i class="fa-regular fa-credit-card"></i>
                      <p>Medios de Pago<br>Tarjeta, MercadoPago<br>y Efectivo</p>
                    </li>
                    <li id="icon4"> 
                        <i class="fa-solid fa-lock"></i>
                        <p>Compra Segura</p>
                      </li>
               </ul>
               <ul class="banner-dots">
                   <li>
                       <a href="#icon1"> <i class="fa-solid fa-circle"></i></a>
                   </li>
                   <li>
                    <a href="#icon2"> <i class="fa-solid fa-circle"></i></a>
                   </li>
                   <li>
                    <a href="#icon3"> <i class="fa-solid fa-circle"></i></a>
                   </li>
                   <li>
                    <a href="#icon4"> <i class="fa-solid fa-circle"></i></a>
                   </li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <section class="seguinos">
            <div class="seguinos-iconos"> 
             <h4>Seguinos en</h4>
              <div class="iconos">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook-f"></i>
              </div>
              <div class="flecha-arriba">
                <i class="fa-solid fa-chevron-up"></i>
              </div>
            </div>
        </section>
        <section class="pie-pagina">
            <div class="pie-pagina-flex">
                <h4>DAS Pastelería</h4>
                <div class="pie-logo-textos">
                  <div class="pie-logo">
                   <img src="img/DAS_logo.png" alt="Logo DAS">
                  </div>
                  <div class="pie-textos">
                   <h4>Contactanos</h4>
                    <div class="pie-texto-compacto">
                    <div class="whats-mail-ubicacion">
                        <i class="fa-brands fa-whatsapp"></i>
                        <p>1122334455</p>
                    </div>
                    <div class="whats-mail-ubicacion">
                        <i class="fa-regular fa-envelope"></i>
                        <p>daspasteleria@gmail.com</p>
                    </div>
                    <div class="whats-mail-ubicacion">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Belgrano, CABA</p>
                    </div>
                    </div>
                   </div>
                </div>
                <div class="copyright">
                    <i class="fa-regular fa-copyright"></i>
                    <p>2022 DAS Pastelería - Todos los derechos reservados.</p>
                </div>

            </div>
        </section>
        
    </footer>
</body>
</html>