<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fd6da145d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="styles/index.css">
    <title>DAS Pasteleria</title>
</head>
<body>
    <header>
    <div class="top-header-mobile">
        <div class="form" action="#" method="GET">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
        <div class="logo-space"> 
            <img src="img/DAS_logo.png" alt="Logo DAS">
        </div>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
    </div>   
    <div class="nav-menu">
        <nav class="lista-menu">
        <a href="#">INICIO</a>
        <a href="#">PRODUCTOS</a>
        <a href="#">CARRITO</a>
        </nav>
    </div>
    </header>
    <div class="main-body">
        <div class="container-img">
            <ul class="slider">
                <li id="slide1"> 
                 <img src="img/lemon_pie_arandanos1.jpg" class="slide-img">
                </li>
                <li id="slide2"> 
                 <img src="img/cheesecake_1.jpg" class="slide-img">
                </li>
                <li id="slide3"> 
                 <img src="img/apple_crumble1.jpg" class="slide-img">
                </li>
           </ul>
           <ul class="menu-dots">
               <li>
                   <a href="#slide1"> <i class="fa-solid fa-circle"></i></a>
               </li>
               <li>
                <a href="#slide2"> <i class="fa-solid fa-circle"></i></a>
               </li>
               <li>
                <a href="#slide3"> <i class="fa-solid fa-circle"></i></a>
               </li>
            </ul>
        </div>
    </div>
    <h4>PRODUCTOS DESTACADOS</h4>
</body>
</html>