<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fd6da145d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/footer.css">
    <title>Das - Inicio de Sesión</title>


    <link rel="stylesheet" href="styles/login.css">
</head>
<body>
    <%- include ('./partials/header') %> 
    <main>
        <div class="form_wrapper">
            <div class="form_container">
                <div class="title_container">
                    <h2>Inicio de sesión</h2>
                </div>
                <div class="">
                    <form>
                        <div>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" name="name" placeholder="Nombre">
                            </div>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                                <input type="password" name="password" placeholder="Contraseña" required>
                            </div>
                            <label class="l-c-box">
                                <input type="checkbox" > Recuérdame
                            </label>
                        </div>
                        <input class="button" type="submit" value="Iniciar sesión">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include ('./partials/footer') %> 
</body>
</html>