<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fd6da145d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="styles/index.css"> -->
    <link rel="stylesheet" href="styles/register.css">
    <title>Das pasteleria Register</title>
</head>
<body>
    <header>
        <div class="top-header-mobile">
            <div class="form" action="#" method="GET">
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>
            <div class="logo-space"> 
                <img src="img/DAS_logo.png" alt="Logo DAS" style="width: 100%;"> <!--solucion "no solucion" de ultimo momento -->
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
        </div>   
        <div class="nav-menu">
            <nav class="lista-menu">
            <a href="#">INICIO</a>
            <a href="#">PRODUCTOS</a>
            <a href="#">CARRITO</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="form_wrapper">
            <div class="form_container">
                <div class="title_container">
                    <h2>Inicio de sesión</h2>
                </div>
                <div class="">
                    <form>
                        <div>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" name="name" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                            <input type="password" name="password" placeholder="Contraseña" required>
                        </div>
                        <input class="button" type="submit" value="Iniciar sesión">
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    </main>
    <footer>
        <section class="seguinos">
            <div class="seguinos-iconos">
                <h4>Seguinos en</h4>
                <div class="iconos">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div class="flecha-arriba">
                    <i class="fa-solid fa-chevron-up"></i>
                </div>
            </div>
        </section>
        <section class="pie-pagina">
            <div class="pie-pagina-flex">
                <h4>DAS Pastelería</h4>
                <div class="pie-logo-textos">
                    <div class="pie-logo">
                        <img src="img/DAS_logo.png" alt="Logo DAS" style="width: 100%;"> <!--solucion "no solucion" de ultimo momento -->
                    </div>
                    <div class="pie-textos">
                        <h4>Contactanos</h4>
                        <div class="pie-texto-compacto">
                            <div class="whats-mail-ubicacion">
                                <i class="fa-brands fa-whatsapp"></i>
                                <p>1122334455</p>
                            </div>
                            <div class="whats-mail-ubicacion">
                                <i class="fa-regular fa-envelope"></i>
                                <p>daspasteleria@gmail.com</p>
                            </div>
                            <div class="whats-mail-ubicacion">
                                <i class="fa-solid fa-location-dot"></i>
                                <p>Belgrano, CABA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <i class="fa-regular fa-copyright"></i>
                    <p>2022 DAS Pastelería - Todos los derechos reservados.</p>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>