<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head', {titulo}) %> 
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <%- include ('./partials/header') %> 
    <main>
    <div class="l-container-main">   
        <div class="form_wrapper">
            <div class="form_container">
                <div class="title_container">
                    <h2>Inicio de sesión</h2>
                </div>
                <div class="">
                    <form action="/Usuarios/login"  method="POST">
                        <div>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                                <input type="password" name="user_password" minlength="8" placeholder="Contraseña" required>
                            </div>
                            <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                  <%= errors.email.msg %>
                            </div> <% }  %> <br>
                            <label class="l-c-box">
                                <input type="checkbox" name="recordame"> Recuérdame
                            </label>
                        </div>
                        <input class="button" type="submit" value="Iniciar sesión">
                    </form>
                </div>
            </div>
        </div>
    </div> 
    </main>
    <%- include ('./partials/footer') %> 
</body>
</html>