<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head', {titulo}) %> 
    <link rel="stylesheet" href="styles/productView.css">
</head>
<body>
    <%- include ('./partials/header') %>
    <main>
        <form>
            <section class="c-cuerpo">
                <article class="c-producto">
                    <img src="img/chocotorta2.jpg" alt="torta1">
                    <div class="c-descripcion">
                        <div class="c-izq">
                            <div class="c-description-wrap">
                                <h2 class="pv-p-name">Chocotorta</h2> 
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt assumenda</span>
                                <h3 class="pv-final-price">$9999</h3>
                                <div class="pv-full-form">
                                    <span>
                                        Tamanio/cantidad
                                    </span>
                                    <form action="/">
                                        <div class="pv-selector-button">
                                            <ul class="pv-radio-select">
                                                <li class="pv-input-container">
                                                    <label class="radio">
                                                        <input type="radio" name="cantidad" class="input-radio">
                                                        <span class="pv-radio-span">chico / 1/2 docena</span>
                                                    </label>
                                                </li>
                                                <li class="pv-input-container">
                                                    <label class="radio">
                                                        <input type="radio" name="cantidad" class="input-radio" checked="checked">
                                                        <span class="pv-radio-span">grande / 1 docena</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pv-qty">
                                            <span>cantidad</span><br>
                                            <div class="pv-qty-wrap">
                                                <div class="pv-nput-group-full-touchspin">
                                                    <span class="pv-input-group-btn">
                                                        <button name="qty" class="pv-btn-down" type="button">
                                                            -
                                                        </button>
                                                    </span>
                                                    <!-- <span class="pv-input-group-touchspin"></span> -->
                                                    <input type="number" value="1" name="qty" class="pv-input-group-qty-number">
                                                    <!-- <span class="pv-input-group-touchspin"></span> -->
                                                    <span class="pv-input-group-btn">
                                                        <button name="qty" class="pv-btn-up" type="button">
                                                            +
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> 
                        </div>
                    </div>
                </article>
            </section>
        </form>
    <%- include ('./partials/footer') %>
</body>
</html>