<!DOCTYPE html>
<html lang="en">

        <%- include ('./partials/head', {titulo}) %> 
        <link rel="stylesheet" href="/styles/productCart.css">
  
        <header>
        </header>     
            <body>
                    <form>
                        <section class="c-encabezado">
                            <h3><i class="c-flecha fa-solid fa-angle-left"></i> Carrito de Compras 
                                <a href="/home"><p class="c-cruz">X</p></i></a></h3>
                            <div class="c-encabezado-2">
                                <p>PRODUCTO <p>
                                <p>SUBTOTAL</p>
                            </div>    
                        </section>
                        <section class="c-cuerpo">
                            <article class="c-producto">
                                <img src="/img/products-img/chocotorta2.jpg" alt="torta1">
                                <div class="c-descripcion">
                                    <div class="c-izq">   
                                        <p>Chocotorta</p> 
                                        <p class="c-precio-unitario">$000</p>
                                        <div class="c-cantidad">
                                            <p class="c-resta">-</p>
                                            <p> 1 </p>
                                            <p class="c-suma">+</p>       
                                        </div> 
                                     </div>
                                    <div class="c-derec">
                                        <i class="fa-solid fa-trash-can"></i>   
                                        <p class="precio">$000</p>
                                    </div>
                                </div>
                            </article>
                            <article class="c-producto">
                                <img src="/img/products-img/cuadraditos_limon1.jpg" alt="torta1">
                                <div class="c-descripcion">
                                    <div class="c-izq">   
                                        <p>Cuadraditos de Limón</p> 
                                        <p class="c-precio-unitario">$000</p>
                                        <div class="c-cantidad">
                                            <p class="c-resta">-</p>
                                            <p> 1 </p>
                                            <p class="c-suma">+</p>       
                                        </div> 
                                    </div>
                                    <div class="c-derec">
                                        <i class="fa-solid fa-trash-can"></i>   
                                        <p class="precio">$000</p>
                                    </div>
                                </div>
                            </article>
                            <div class="c-subtotal"><p>Subtotal (sin envío):</p><p>$000</p>
                            </div><br>
                            <section class="c-envio">
                                 <p class="c-medios"><i class="fa-solid fa-motorcycle"></i> Medios de envío</p>            
                                <div class="c-postal">
                                    <input type="text" placeholder="Tu código postal" name="postal"  id="postal">
                                    <label for="postal"> <button>CALCULAR</button></label><br>
                                    <a href="#"> No sé mi código postal</a>
                                </div><br>
                            <p><i class="fa-solid fa-shop"></i> Nuestro Local</p><br>   
                            <div class="c-local">
                                <input type="radio" name="local" value="Das pasteleria"><p>DAS Pastelería-Sucre 2800, Belgrano</p>
                            </div>    
                            </section>
                            <h3 class="c-total">
                                <p>Total:</p><p>$0000</p>
                            </h3>
                            <div class="c-boton">
                                <button class="c-compra">INICIAR COMPRA</button>
                            </div>
                            <div class="c-link">
                                <a href "#">Ver más productos</a>
                            </div>
                        </section>    
                    </form>
                </body>
</html>