<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head', {titulo}) %> 
    <link rel="stylesheet" href="styles/productView.css">
</head>
<body>
    <%- include ('./partials/header') %>
    <main>
        <form>
            <section class="c-cuerpo">
                <article class="c-producto">
                    <img src="img/chocotorta2.jpg" alt="torta1">
                    <div class="c-descripcion">
                        <div class="c-izq">
                            <div class="c-description-wrap">
                                <p>Chocotorta</p> 
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt assumenda</span>
                                <p class="c-precio-unitario">$000</p>
                                <div>
                                    <span>
                                        Tamanio/cantidad
                                    </span>
                                    <form action="/">
                                        <div class="pv-selector-button">
                                            <ul>
                                                <li>
                                                    <label class="radio">
                                                        <input type="radio" name="cantidad"><span>chico / 1/2 docena</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="radio">
                                                        <input type="radio" name="cantidad"><span>grande / 1 docena</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pv-qty-wrap">
                                            <span>cantidad</span>
                                            <div class="pv-qty">
                                                <span>
                                                    <button name="qty">
                                                        -
                                                    </button>
                                                </span>
                                                <!-- <span></span> -->
                                                <input type="number" value="1" name="qty">
                                                <!-- <span></span> -->
                                                <span>
                                                    <button name="qty">
                                                        +
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- <div class="c-cantidad">
                                    <p class="c-resta">-</p>
                                    <p> 1 </p>
                                    <p class="c-suma">+</p>       
                                </div> -->
                            </div> 
                        </div>
                    </div>
                </article>
            </section>
        </form>
    <%- include ('./partials/footer') %>
</body>
</html>